<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-container"> 
    <div class="is-centered title">
        <h1 id="header1"><%= link_to 'Organizations', orgs_path, class: "nothing" %></h1>
    </div>

    <div class="is-centered">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contact</th>
                <th>Rating</th>
            </tr>
            <% @orgs.each do |org| %>
                <!-- do the math to find the rating -->
                <% a = 0 %>
                <% if org.ratings.present? %>
                    <% b = 0 %>
                <% else %>
                    <% b = 1 %>
                <% end %>
                <% org.ratings.each do |rate| %>
                    <% a += rate.rate.to_i %>
                    <% b += 1 %>
                <% end %>
                <tr>
                    <td width="30px"><%= org.name %></td>
                    <td width="30px"><%= org.description %></td>
                    <td width="30px"><%= org.contact %></td>
                    <!-- Display the rating -->
                    <td><%= a/b %>
                    <!-- Reset the variables for the next org -->
                        <% a = 0 %>
                        <% b = 1 %></td>
                    
                    <td><%= link_to org_path(org) do %>
                                       <%= image_tag "show.png", height: '30', width: '30'  %>
                                     <% end %></td>
                    <td class="Edit"><%= link_to edit_org_path(org) do %>
                                       <%= image_tag "edit.png" %>
                                     <% end %></td>
                    <td><%= link_to org_path(org), method: :delete, data: {confirm: 'Are you sure you want to delete this organization?'} do %>
                                      <%= image_tag("delete.png") %>
                                    <% end %>
                                    </td>
                </tr>
            <% end %>
        </table>
    </div>
    <br>
    <table>
        <div class="is-centered">
            <%= link_to 'Add Organization', new_org_path %>
        </div>
    </table>
    <div class="center-text drop">
        <%= link_to root_path do %>
           <%= image_tag("back.png", alt: "back")  %>
        <% end %>
    </div>
</div>