<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-container"> 
    <% a = 0 %>
    <% b = 1 %>
    <div class="is-centered title">
        <h1 id="header1">Organizations</h1>
    </div>

    <div class="is-centered">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Contact</th>
                <th>Rating</th>
            </tr>
            
            <% @orgs.each do |org| %>
                <% org.ratings.each do |rate| %>
                    <% a += rate %>
                    <% b += 1 %>
                <% end %>
                <tr>
                    <td><%= org.name %></td>
                    <td><%= org.description %></td>
                    <td><%= org.contact %></td>
                    <td><%= a/b %>
                        <% a = 0 %>
                        <% b = 0 %></td>
                    
                    <td><%= link_to 'Show', org_path(org) %></td>
                    <td><%= link_to 'Edit', edit_org_path(org) %></td>
                    <td><%= link_to 'Destroy',
                                    org_path(org),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <br>
    <table>
        <div class="is-centered">
            <%= link_to 'Add Organization', new_org_path %>
        </div>
    </table>
    
    <footer>
        
        <div class="foot-container">
            <p>RUBY WARRIORS Copyright © 2018. UNC CHARLOTTE</p>
        </div>
    </footer>
</div>

