<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-container"> 
    <div class="is-centered title">
        <h1 id="header1">Adding Organization</h1>
    </div>
    <div class="form-container">
        <%= form_for :orgs, url: orgs_path do |f| %>
            <p>
                <div class="label-heads">
                    <%= f.label :name %><br>
                </div>
                <%= f.text_field :name %>
            </p>
            
            <p>
                <div class="label-heads">
                    <%= f.label :description %><br>
                </div>
                <%= f.text_field :description %>
            </p>
            
            <p>
                <div class="label-heads">
                    <%= f.label :contact %><br>
                </div>
                <%= f.text_field :contact %>
            </p>
            
            <p>
                <%= f.submit 'Submit' %>
            </p>
        <% end %>
    </div>
    
    <div class="center-text">
        <%= link_to orgs_path do %>
           <%= image_tag "back.png"  %>
        <% end %>
    </div>
</div>