<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body-container"> 
    <div class="is-centered title">
        <h1 id="header1">Organization Details</h1>
    </div>
    <div class="des-container">
        <p>
            <div class="more-heads squeeze">
                <strong>Name:</strong> <%= @org.name %>
            </div>
        </p>
        
        <p>
            <div class="more-heads squeeze">
                <strong>Description:</strong> <%= @org.description %>
            </div>
        </p>
        
        <p>
            <div class="more-heads squeeze">
                <strong>Contact:</strong> <%= @org.contact %>
            </div>
        </p>
        
        <!-- Ask user to leave a rating -->
        <p>
            <% a = 0 %>
            <% if @org.ratings.present? %>
                <% b = 0 %>
            <% else %>
                <% b = 1 %>
            <% end %>
            <% @org.ratings.each do |rate| %>
                <% a += rate.rate.to_i %>
                <% b += 1 %>
            <% end %>
            <div class="more-heads">
                <strong>Rating:</strong> <%= a/b %>
            </div>
        </p>
        
        <!-- form to submit the rating -->
        <%= form_for([@org, @org.ratings.build]) do |f| %>
          <p>
              <div class="additional-head" id="rate-space">
                  <%= f.label :rate, 'Leave a Rating' %>
              </div>
              <%= f.number_field(:rate, in: 0..5) %>
          </p>
          
          <!-- submit button for rating -->
          <div class="move-this-too">
              <p>
                  <%= f.submit 'Rate' %>
              </p>
          </div>
          
        <% end %>
        
        <!-- List all comments -->
        <h2>Comments:</h2>
        <% @org.comments.each do |comment| %>
          <p class="squeeze">
          <strong>Anonymous:</strong>
            <%= comment.body %>
            <%= link_to [comment.org, comment], method: :delete, data: { confirm: 'Are you sure you want delete this comment?' } do %>
                <%= image_tag("delete.png") %>
            <% end %>
          </p>
         <% end %>
        </div>
        <div class="form-container">
            <%= form_for([@org, @org.comments.build]) do |f| %>
              <p>
                  <div class="label-heads">
                      <%= f.label 'Leave a Comment' %>
                  </div>
                  <%= f.text_field :body %>
              </p>
              <p class="move-center">
                  <%= f.submit 'Comment' %>
              </p>
        <% end %>
        </div>
        <div class="center-text drop">
            <%= link_to orgs_path do %>
               <%= image_tag "back.png"  %>
            <% end %>
        </div>
    </div>
</div>